body{
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    cursor: default;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

table {
    border-collapse: collapse;
}
th, td {
    border: 1px solid black;
}
th {
    background-color: dimgray;
    color: white;
}
td.filler, th.filler {
    border: none;
    background: none;
}

.schedule th, .schedule td {
    text-align: center;
    padding: 10px;
    width: 80px;
    height: 20px;
}

.pager.prev, .pager.next {
    background-color: lightgray;
}

.toggle {
    cursor: pointer;
}
.toggle.yes-def {
    background-color: #d9f6d9;
}
.toggle.no-def {
    background-color: #fdcccc;
}
.toggle.yes {
    background-color: #b2edb2;
}
.toggle.no {
    background-color: #fb9898;
}

.tabMenu li {
    cursor: pointer;
    list-style: none;
    display: inline-block;
    padding: 10px;
    width: 150px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    border: 1px solid black;
}
.tabMenu li.selected {
    background-color: dimgray;
    color: white;
}